{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <style>

        #mapid { 
            height: 100%; 
        }

    </style>
    
{% endblock %}




{% block content %}
<div class="row h-100" style='margin-left: -20px; margin-right: -20px;'>
    <div class='col-md-12'>
        <div id='mapid'> 
        </div>
    </div>
</div>
        



{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script>
    $('#kart').addClass('active')
    $('#points').removeClass('active')
    $('#suppliers').removeClass('active')

    var map = L.map('mapid').setView([42.3000, 47.5000], 9);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([42.3000, 47.5000]).addTo(map)
        .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        .openPopup();


</script>


{% endblock %}
